{% extends '::base.html.twig' %}

{% import ':Form:fx_form_utils.html.twig' as form_utils %}

{% set user = app.user %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite'
    'bundles/fxschool/css/site.css'
     %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
    {% endstylesheets %}

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:700italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
    {% block navbar %}
        <style>
            body{
                zoom:80%;
            }
        </style>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle visible-xs" id="fx-sidebar-toggle-btn"
                            onClick="$('#wrapper').toggleClass('toggled');">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <button id="fx-navbar-menu-btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#fx-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </button>
                    <a class="navbar-brand"
                       href="{{ path('fx_school.default.index') }}">{{ project_name | capitalize }}
                    </a>

                </div>

                {% if app.environment == 'dev' %}
                    <div>
                        <ul class="nav navbar-nav">
                            <li><a href="#"><span class="label label-success">{{ 'Modo de desarrollo' | upper }}</span></a></li>
                        </ul>
                    </div>
                {% endif %}

                <div class="collapse navbar-collapse" id="fx-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><b>{{ user.nombreCompleto | title }}</b></a></li>
                        <li><a title="Salir" href="{{ url('fos_user_security_logout') }}"> <i
                                        class="fa fa-sign-out"></i> <span class="visible-xs-inline">Salir</span> </a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        {#<div class="input-group">#}
                            {#<input id="fx-buscador-estudiantes" type="text" class="form-control typeahead" placeholder="Buscar estudiante..." style="width: 360px">#}
                            {#<span class="input-group-btn">#}
                                {#<button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>#}
                            {#</span>#}

                        {#</div>#}
                    </form>
                </div>
            </div>
        </div>

    {% endblock %}

    <div id="wrapper">
        <div id="sidebar-wrapper" class="sidebar">
            {{ knp_menu_render('FxSchoolBundle:MainMenuBuilder:mainMenu', {currentClass: 'active', ancestorClass: 'active', depth: 2, allow_safe_labels: true}) }}
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="main col-lg-12">
                        {% block main %}
                            {% if hide_page_header is not defined or not hide_page_header %}
                                <h1 class="page-header">
                                    {% block page_header %} {{ project_name | capitalize }} {% endblock %}
                                    {#<small> {% block sub_header %}{% endblock %} </small>#}
                                </h1>
                            {% endif %}

                            {% if hide_sub_header is not defined or not hide_sub_header %}
                                <h2 class="sub-header">{% block sub_header %}{% endblock %}</h2>
                            {% endif %}

                            <hr class="fx-line">

                            {% block flash_messages %}
                                <div class="row fx-flash-container">
                                    <div id="flash-messages-container" class="col-md-10 col-md-offset-1">
                                        {% for flashMessage in app.session.flashbag.get('info') %}
                                            <div class="alert alert-info alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <span class="glyphicon glyphicon-info-sign"
                                                      aria-hidden="true"></span> {{ flashMessage }}
                                            </div>
                                        {% endfor %}

                                        {% for flashMessage in app.session.flashbag.get('success') %}
                                            <div class="alert alert-success alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <span class="glyphicon glyphicon-ok-sign"
                                                      aria-hidden="true"></span> {{ flashMessage }}
                                            </div>
                                        {% endfor %}

                                        {% for flashMessage in app.session.flashbag.get('danger') %}
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <span class="glyphicon glyphicon-exclamation-sign"
                                                      aria-hidden="true"></span> {{ flashMessage }}
                                            </div>
                                        {% endfor %}

                                        {% for flashMessage in app.session.flashbag.get('warning') %}
                                            <div class="alert alert-warning alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <span class="glyphicon glyphicon-exclamation-sign"
                                                      aria-hidden="true"></span> {{ flashMessage }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            {% endblock %}

                            {% block content %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div id="footer-wrapper">
            <div id="footer">
                <p class="text-muted">Desarollado por <a href="http://datatecsolutions.com/" target="_blank"><em>INGENIERIA DE SOFTWARE 1</em></a><span class="pull-right">Powered by  <a
                                href="mailto:albertovisaf@gmail.com"><em>TEAM 4K </em></a>.</span></p>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'bundles/fxschool/js/site.js'
     %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% for flashMessage in app.session.flashbag.get('open_window') %}
        <script type="application/javascript">
            window.open("{{ flashMessage }}", '_blank', "height=200,width=200,toolbar=0,location=0,menubar=0");
        </script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('open_window2') %}
        <script type="application/javascript">
            window.open("{{ flashMessage }}", '_blank', "height=200,width=200,toolbar=0,location=0,menubar=0");
        </script>
    {% endfor %}
{% endblock %}
